body{
    font-family: "Montserrat";
}
.jumbotron{
    text-align: center;
    background-color:#26F122;
    height: 7vh;
}
.jumbotron h1{
    margin-top: -8vh;
    font-size:80px;
    font-weight: 1000;
    text-shadow: 5px 5px red;
}
nav{
    text-align: right;
    background-color: darkgray;
    margin-top: -5vh;
    padding-top:20px;
}
.blogs{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
}
h4{
    text-align: center;
    font-size: 35px;
    margin-left:64px;
}
nav{
    font-weight: bold;
}
footer{
    background-color: black;
    color: blanchedalmond;
}
#footer-title{
    font-size: 20px;
    text-align: left;
    padding-right: 13px;
}